body{
    background-color: red;
    color: white;
}
/* #imgSrc {
    width: 600px;
    height: 700px;
    border: 1px solid black;
    background-image: url(./components/picture/javascript8.jpeg);
} */
